{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if app.user %}
<h1 class="text-decoration-underline d-flex justify-content-center" style="color: white;">Bienvenue {{ app.user.firstname }}</h1>
        {% endif %}
        <ul class="nav flex-column" style="width: 250px; border-right: thick double white; border-bottom: thick double white; border-top: thick double white; ">
            <li class="nav-item mt-5">
                <a class="nav-link active" aria-current="page" href="{{ path('partners_list') }}">Tableau de bord</a>
            </li>
            <li class="nav-item mt-5">
                <a class="nav-link" href="#">Contact</a>
            </li>

            {% if app.user %}
                <li class="nav-item mt-5">
                    <a class="nav-link" href="{{ path('profile_details') }}">Mon compte</a>
                </li>
                <li class="nav-item mt-5 mb-5">
                    <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                </li>
            {% else %}
                    <li class="nav-item mt-5">
                        <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
                    </li>
                    <li class="nav-item mt-5 mb-5">
                        <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
                    </li>
            {% endif %}

        </ul>

    </div>
{% endblock %}
